# Environment Variables untuk Production
# Copy file ini ke .env dan sesuaikan

# API Backend
NEXT_PUBLIC_API_URL=http://cliq.najjohotels.com/api

# App Config
NEXT_PUBLIC_APP_URL=https://booking-engine-gamma.vercel.app/

# Tambahan jika perlu
NODE_ENV=production
PORT=3000
